@charset "UTF-8";
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 120px;
}

.breadcrumbs-v1{
    background: rgba(0, 0, 0, 0) url("../static/freebie-bg.jpg") no-repeat scroll center center / cover;
    padding: 100px 0;
    position: relative;
    transition: all 0.8s ease-in-out 0s;
}